.cbc {
    width: calc(100vw - 480 - 40);
    margin: 0px 100px 0px 550px;
    padding: 20px 0;
}

.cbc h1 {
    padding-bottom: 10px;
}

.cbc h4 {
    padding-bottom: 30px;
}

.cbcFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.cbcIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cbcPlayer {
    width: 35vw;
    padding-top: 20px;
}

.cbcImg {
    width: 100%;
    margin: 20px auto;
}

.controls {
    color: #999;
    margin: 0 10px 20px 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {

    .cbc {
        width: calc(100vw - 200);
        margin: 0px 40px 0px 240px;
    }

    .cbcFlex {
        flex-direction: column;
    }

    .cbcPlayer {
        width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 810px) {

    .cbc {
        margin: 0px 40px 0px 200px;
    }

}

@media (max-width: 520px) { 

    .cbc {
        height: 100%;
        margin: 0px 20px;
    }

    .cbcPlayer {
        width: 320px;
    }

    .cbcFlex {
        flex-direction: column;
    }

    .cbcPlayer {
        width: 320px;
        margin: 0px auto;
    }
}