@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

header {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
}

.flexHeader {
    width: 100% - 480px;
    margin-left: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameFlex {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 25px; 
}

.nameFlex h1 {
    display: flex;
    align-items: flex-end;
    font-family: 'Amiri', serif;
    font-size: 4.8rem;
    font-weight: 700;
    color: #D94535;
}

.nameFlex h5 {
    display: flex;
    align-items: flex-end;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 10px;
    color: #666;
}

span {
    padding-left: 5px;
    color: #666;
}

nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

nav ul {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 120px;
    margin-bottom: -8px;
}

nav ul li {
    font-size: 1.6rem;
    margin-left: 16px;
    color: #666;
}

nav ul li:hover {
    color: #d94535;
}

nav ul li:current {
    color: #d94535;
}

hr.dotted2 {
    width: 100%;
    height: 2px;
    border: none;
    border-top: 2px dotted #BBB;
}

@media (max-width: 1080px) {
    
    header {
        height: 100px;
    }

    .flexHeader {
        width: 100% - 240px;
        margin-left: 240px;
    }

    .nameFlex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0px;
    }

    .nameFlex h1 {
        font-size: 3.6rem;
        margin: 0px; 
        padding: 0px;
    }

    .nameFlex h5 {
        font-size: 1.4rem;
        margin: 0px;
    }

    nav ul {
        height: 30px;
        margin-right: 40px;
        margin-bottom: 10px;
    }
}

@media (max-width: 810px) {

    header {
        height: 100px;
    }

    .flexHeader {
        width: 100% - 300px;
        margin-left: 200px;
    }

    .nameFlex {
        justify-content: flex-start;
        margin-top: 22px;
    }

    .nameFlex h5 {
        margin-top: -15px;
    }
    
    nav ul {
        margin-right: 40px;
    }
}

@media (max-width: 420px) { 

    header {
        height: 110px;
    }

    .flexHeader {
        width: 100%;
        margin-left: 20px;
        flex-direction: column;
    }

    .nameFlex h5 {
        margin-top: -15px;
    }

    nav {
        justify-content: flex-start;
    }

    nav {
        height: 20px;
        margin-top: 20px;
    }
    
    nav ul li {
        font-size: 1.4rem;
        margin-left: 0px;
        margin-right: 16px;
    }
}