.oandalive {
    width: calc(100vw - 480 - 40);
    margin: 0px 100px 0px 550px;
    padding: 20px 0;
}

.oandalive h1 {
    padding-bottom: 10px;
}

.oandalive h3 {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 20px 0 20px 0;
}

.oandalive ul {
    padding-left: 20px;
    padding-bottom: 20px;
}

.oandalive ul li {
    line-height: 28px;
}

.oandaIntro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.mixpanel2 {
    width: 400px;
    margin: 0 30px;
}

.oandametricsgif {
    width: 100%;
}

.oandametricsImg {
    width: 75%;
    margin: 20px auto;
}

.controls {
    color: #999;
    margin: 0 10px 20px 0px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {

    .oandalive {
        width: calc(100vw - 200);
        margin: 0px 40px 0px 240px;
    }

    .oandaIntro {
        flex-direction: column;
    }
}

@media (max-width: 810px) {

    .oandalive {
        margin: 0px 40px 0px 200px;
    }

    .oandaIntro {
        flex-direction: column;
    }

    .mixpanelExample {
        width: 80%;
        margin: 20px 0;
    }
}

@media (max-width: 520px) { 

    .oandalive {
        height: 100%;
        margin: 0px 20px;
    }

    .oandaIntro {
        flex-direction: column;
    }

    .mixpanelExample {
        width: 90%;
        margin: 20px 0;
    }

    .oandametricsImg {
        width: 280px;
    }
}