.pantryYY {
    width: calc(100vw - 480 - 40);
    margin: 0px 100px 0px 550px;
    padding: 20px 0;
}

.pantryYY h1 {
    padding-bottom: 10px;
}

.pantryYY h4 {
    padding-bottom: 30px;
}

.pantryYYFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.pantryYYIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pantryYYImg {
    width: 100%;
    margin: 20px auto;
}

.pantryYY a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #d94535;
    padding: 5px 0;
}

.pantryYY a:hover {
    text-decoration: underline;
}

@media (max-width: 1250px) {

    .pantryYY {
        width: calc(100vw - 200);
        margin: 0px 40px 0px 240px;
    }

    .pantryYYFlex {
        flex-direction: column;
    }

    .pantryYYImg {
        width: 600px;
        margin: 10 auto;
    }
}

@media (max-width: 810px) {

    .pantryYY {
        margin: 0px 40px 0px 200px;
    }

}

@media (max-width: 520px) { 

    .pantryYY {
        height: 100%;
        margin: 0px 20px;
    }

    .pantryYYImg {
        width: 320px;
        margin: 10px auto;
    }
}