.portfolio {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolioFlex {
    width: calc(100vw - 480 - 40);
    margin: 0px 110px 0px 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.portfolioFlex img {
    height: 32vh;
    object-fit: cover;
    object-position: center;
}

.portfolioImg {
    width: calc((100% / 3) - 12px);
    margin: 10px 0;
    overflow: hidden;
    border: 1px solid white;
}

.portfolioImg img {
    transition: transform .5s, filter .25s ease-in-out;
    filter: grayscale(20%);
}

.portfolioFlex img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}