.portfolio {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolioFlex {
    width: calc(100vw - 480 - 40);
    margin: 0px 110px 0px 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.portfolioFlex img {
    height: 32vh;
    object-fit: cover;
    object-position: center;
}

.portfolioImg {
    width: calc((100% / 3) - 12px);
    margin: 10px 0;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 8px;
    position: relative;
}

.portfolioName {
    display: none;
}

.portfolioName h4 {
    padding: 20px;
}

.portfolioImg img {
    transition: transform .5s, filter .25s ease-in-out;
    filter: grayscale(20%);
}

.portfolioFlex img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.portfolioImg:hover > .portfolioName {
    display: block;
    width: 100%;
    color: #FFF;
    background-color: rgba(19, 19, 19, 0.5);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

@media (max-width: 1250px) {

    .portfolioFlex {
        width: calc(100vw - 200);
        margin: 0px 40px 0px 240px;
    }
}

@media (max-width: 810px) {

    .portfolioFlex {
        margin: 0px 40px 0px 200px;
    }
}

@media (max-width: 500px) { 

    .portfolioFlex {
        width: 100vw;
        height: 100%;
        margin: 50px 0 0 0;
    }

    .portfolioImg {
        width: 100%;
        margin: 10px 20px;
        overflow: hidden;
        border: 1px solid white;
    }
}
