.redCircle {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 20px;
    left: max(5vw, 50px);
    background-color: #d94535;
    border-radius: 50%;
    display: inline-block;
}

.tree {
    width: max(100vh - 75vh, 300px);
    position: absolute;
    top: max(100vh - 92vh, 100px);
    left: max(5vw, 100px);
}

hr.solidBase {
    width: 100%;
    height: 2px;
    border: none;
    border-top: 2px solid #444;
    position: absolute;
    top: max(100vh - 14.6vh, 1028px);
    left: 0px;
}

hr.solid1 {
    width: 100%;
    height: 3px;
    border: none;
    border-top: 3px solid #444;
    position: absolute;
    bottom: max(12vh, 80px);
    left: 0px;
    z-index: -1;
}

hr.solid2 {
    width: 100%;
    height: 3px;
    border: none;
    border-top: 3px solid #444;
    position: absolute;
    bottom: max(10vh, 75px);
    left: 0px;
    z-index: -1;
}

hr.solid3 {
    width: 100%;
    height: 2px;
    border: none;
    border-top: 2px solid #444;
    position: absolute;
    bottom: max(8vh, 65px);
    left: 0px;
    z-index: -1;
}

hr.solid4 {
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid #444;
    position: absolute;
    bottom: max(7vh, 55px);
    left: 0px;
    z-index: -1;
}

hr.solid5 {
    width: 100%;
    height: 0.5px;
    border: none;
    border-top: 0.5px solid #444;
    position: absolute;
    bottom: max(1vh, 40px);
    left: 0px;
    z-index: -1;
}

.cloud1 {
    width: 320px;
    position: absolute;
    top: 200px;
    left: min(10vw, 220px);
    transition: transform 2s;
}

.cloud2 {
    width: 200px;
    position: absolute;
    top: 380px;
    left: min(5vw, 10px);
    transition: transform 2s;
}

.cloud3 {
    width: 220px;
    position: absolute;
    top: 420px;
    left: min(20vw, 260px);
    transition: transform 2s;
}

.cloud1:hover {
    transform: rotateY(360deg);

}

.cloud2:hover {
    transform: rotateY(360deg);
}

.cloud3:hover {
    transform: rotateY(360deg);
}


/**********************/
/* media query styles */
/**********************/

@media (max-width: 1080px) {
    .redCircle {
        width: 200px;
        height: 200px;
        top: 10px;
        left: max(2vw, 20px);
    }

    .tree {
        width: 250px;
        top: 50px;
        left: -10px;
    }

    hr.solidBase {
        top: calc(100vh + 10px);
        left: 0px;
    }

    hr.solid1 {
        display: none;
    }

    hr.solid2 {
        bottom: -2px;
        left: 0px;
    }

    hr.solid3 {
        bottom: -5px;
        left: 0px;
    }

    hr.solid4 {
        bottom: -8px;
        left: 0px;
    }

    hr.solid5 {
        bottom: -15px;
        left: 0px;
    }

    .cloud1 {
        width: 150px;
        top: 100px;
        left: 110px;
    }

    .cloud2 {
        width: 100px;
        top: 170px;
        left: -5px;
    }

    .cloud3 {
        width: 100px;
        top: 300px;
        left: 130px;
    }
}

@media (max-width: 810px) {

    .redCircle {
        width: 200px;
        height: 200px;
        top: 10px;
        left: -50px;
    }

    .tree {
        width: 320px;
        top: 50px;
        left: -150px;
    }

    hr.solidBase {
        top: calc(100vh - 40px);
        left: 0px;
    }

    hr.solid1 {
        display: none;
    }

    hr.solid2 {
        bottom: 0px;
        left: 0px;
    }

    hr.solid3 {
        bottom: -10px;
        left: 0px;
    }

    hr.solid4 {
        bottom: -15px;
        left: 0px;
    }

    hr.solid5 {
        bottom: -25px;
        left: 0px;
    }

    .cloud1 {
        width: 150px;
        top: 100px;
        left: 50px;
    }

    .cloud2 {
        width: 100px;
        top: 170px;
        left: -30px;
    }

    .cloud3 {
        width: 100px;
        top: 300px;
        left: 50px;
    }
}

@media (max-width: 420px) {
    .redCircle {
        display: none;
    }

    .tree {
        display: none;
    }

    hr.solidBase {
        display: none;
    }

    hr.solid1 {
        bottom: 10px;
    }

    hr.solid2 {
        display: none;
    }

    hr.solid3 {
        display: none;
    }

    hr.solid4 {
        display: none;
    }

    hr.solid5 {
        display: none;
    }

    .cloud1 {
        display: none;
    }

    .cloud2 {
        display: none;
    }

    .cloud3 {
        display: none;
    }
}

