@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  color: #444;
  background-color: #eee6c9;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 0;
}

h3 {
  font-size: 2.0rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 0;
}

p {
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
  max-width: 100vw;
  height: 70vh;
  background-color: #fbf4e2;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 2px;                     /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: #fbf4e2;          /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background-color: #fbf4e2;    /* color of the scroll thumb */
  border-radius: 20px;            /* roundness of the scroll thumb */
  border: 3px solid #eee6c9;    /* creates padding around scroll thumb */
}

main {
  scrollbar-width: thin;                  /* "auto" or "thin" */
  scrollbar-color: #888 transparent;    /* scroll thumb and track */ 
}

@media (max-width: 1250px) {

    main {
      height: 75vh;
    }
}

@media (max-width: 500px) { 

    main {
      height: 100vh;
    }

}